/* Title Section Styling */
.admin-dashboard-title-section {
  background: linear-gradient(to bottom, #bec9e0, #ececec); /* Custom gradient background */
  color: white;
  padding: 50px 0;
  margin-bottom: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.admin-dashboard-title {
  font-size: 3rem; /* Large text size for the title */
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
}
