.intro-container {
  background-color: #f8f9fa;
  padding-top: 5rem !important;
  text-align: center; /* Center-align content */
}

.intro-image {
  max-width: 300px; /* Default maximum size for larger screens */
  width: 100%; /* Ensure responsiveness */
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin: 0 auto; /* Center the image horizontally */
  display: block;
}

.intro-image:hover {
  transform: scale(1.05); /* Smooth scaling effect on hover */
}

.intro-title {
  color: #2c3e50;
}

.intro-subtitle {
  font-size: 1.75rem !important;
  color: #535f69 !important;
}

.intro-description {
  line-height: 1.6rem !important;
  color: #384553 !important;
}

button.btn-primary,
button.btn-outline-primary {
  border-radius: 30px;
  padding: 0.6rem 2rem;
}

button.btn-primary:hover,
button.btn-outline-primary:hover {
  background-color: #0056b3;
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .intro-image {
    max-width: 200px; /* Smaller size for tablets and smaller devices */
  }

  .intro-title {
    font-size: 2rem; /* Adjust font size for better readability */
  }

  .intro-subtitle {
    font-size: 1.5rem;
  }

  .intro-description {
    font-size: 1rem;
    padding: 0 1rem; /* Add padding for better spacing */
  }
}

@media (max-width: 480px) {
  .intro-image {
    max-width: 150px; /* Further reduce size for very small screens */
  }
}
